/* RESET */

body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* GENERAL */

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.title {
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animals h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animals h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.animals p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animals-list {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animals-list li {
  cursor: pointer;
}

.animals-list::-webkit-scrollbar {
  width: 18px;
}

.animals-list::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animals-list::-webkit-scrollbar-track {
  background-color: #faf6ed;
}

.animals-description {
  grid-column: 3;
}

.animals-description section {
  margin-bottom: 3rem;
}

.faq-list {
  grid-column: 2 / 4;
}

.faq-list dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.faq-list dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.faq-list dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.map {
  grid-column: 2;
}

.data {
  grid-column: 3;
}

.data li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.data li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.copy p {
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animals-list {
    grid-column: 1;
  }

  .faq-list,
  .data,
  .map {
    grid-column: 1 / 3;
  }

  .grid-section h1 {
    font-size: 3rem;
  }

  .menu {
    margin-top: 0;
  }

  .copy {
    margin-bottom: 0;
  }
}

/* */

.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.active {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js .js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: 'тоз';
  margin-left: 10px;
}

.js-accordion dt.active::after {
  content: 'тое';
}

.js-accordion dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}
